* {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

body {
    margin: 0;
}

/* PÁGINA 1 */

section {
    padding-top: 75px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.navbar {
    width: 100%;
    height: 75px;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo-contenedor {
    display: flex;
    align-items: center;
    left: 50%;
}

.logo {
    height: 75px; 
    margin-right: 20px;
    margin-left: 100px;
}

.nombreBanda {
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    font-weight: bold;
    margin-right: 10%;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-align: center;
}

.nav-list a:hover {
    background-color: #814f04;
    border-radius: 4px;
}

.inicio {
    background-image: url('../img/background-1.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 75px;
}

#player-title {
    color: white;
    font-weight: bold;
    font-size: 26px;
    margin-top: -50%;
}

.audio-controls button {
    background: none;
    border: none;
    padding: 0;
}

/* .audio-controls #previousButton,
.audio-controls #playButton,
.audio-controls #pauseButton,
.audio-controls #nextButton {
    width: 96px;
    height: 96px;
} */


#shows {
    background-color: #f9f9f9;
}

#banda {
    background-color: #e9e9e9;
}

#discografica {
    background-color: #d9d9d9;
}

#galeria {
    background-color: #c9c9c9;
}

#contacto {
    background-color: #b9b9b9;
}
